extends ../layout/main-layout.pug

block content
  main.centered
    h1 #{product.title}
    hr
    div
      img(src= product.imgUrl, alt=product.title)
    h3
      strong #{product.price}
    p #{product.description}
    .cart_action
      form(action="/cart" , method="POST")
        input(type="hidden", name="productId", value= product._id)
        button.btn(type="submit") Add To Cart